.wrapper {
  height: 674px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 33px;
}

.table {
  border: 2px solid #c9cacf;
  border-collapse: collapse;
  width: calc(100vw - 280px);
}

svg {
  width: 25px;
  height: 25px;
}

th {
  padding: 8px;
}

th,
td {
  border: 2px solid #c9cacf;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.temperature, .wind, .pressure {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: content-box;
}

/* Иконка направления ветра */
.easternDirection {
  transform: rotate(90deg);
}

.northEastDirection {
  transform: rotate(45deg);
}

.northernDirection {
  transform: rotate(0deg);
}

.northWestDirection {
  transform: rotate(315deg);
}

.southDirection {
  transform: rotate(180deg);
}

.southEastDirection {
  transform: rotate(135deg);
}

.southWestDirection {
  transform: rotate(225deg);
}

.westernDirection {
  transform: rotate(270deg);
}

/* Стили для поиска, фильтрации и сортировки */
.searchInput {
  border: 1px solid grey;
  width: 150px;
  box-sizing: border-box;
  padding: 0px 2px;
  margin-top: 4px;
}

.thWithIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thIcon {
  width: 15px;
  height: 15px;
  margin-left: 6px;
  cursor: pointer;
}


.thIcon path {
  fill: #969696;
}

.thIcon:hover path {
  fill: #636363;
  transition: all 0.3s linear;
}